<nav>
  <a href="/" class="logo">
    <img src="../images/logo.png" alt="" />
  </a>
  <p class="text">Wellcome User</p>
  <div class="sec">
    <a href="/users/not"><i class="fa fa-bell-o"></i></a>
    <a href="#" class="btn"
      >logout
      <li class="fa fa-sign-out"></li>
    </a>
  </div>
</nav>
