<nav>
  <a href="/" class="logo">
    <img src="./images/logo.png" alt="logo" />
  </a>
  <div class="links">
    <a id="link" href="/#about">About us</a>
    <a id="link" href="/#services">Services</a>
    <a href="/sign" class="signUp">Sign Up</a>
  </div>
</nav>
<style>
  .logo::before {
    display: none;
  }
</style>
